.sectionTitle {
  margin-bottom: 30px;
}

.sectionTitle h4,
.sectionTitle h5 {
  color: #ffffff;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  font-family: 'Oswald', sans-serif;
}

.sectionTitle h4:after,
.sectionTitle h5:after {
  position: absolute;
  left: 0;
  top: -6px;
  height: 32px;
  width: 4px;
  background: #e53637;
  content: '';
}
