body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hero__slider.owl-carousel .owl-nav button.owl-next {
    right: -34px !important;
    top: 55% !important;
  border: none;

} 

.hero__slider.owl-carousel .owl-nav button.owl-prev {
    left: -33px !important;
  border: none;
    top: 55% !important;
} 

.hero__slider.owl-carousel {
  position: relative;
}

.hero__slider.owl-carousel .owl-dots button{
  border: none;
}